<!-- <div class="header">
  <h1>Siva M</h1>
  <p>Full Stack Developer</p>
</div>

<section class="about-me">
  <p>Hello, I'm Siva, a Full Stack Developer based in Madurai, India. With a year of experience, I specialize in web development using HTML, CSS, JavaScript, Node js , Angular , Manogodb, and MySQL.</p>

  <p>I'm passionate about crafting clean, efficient, and scalable code. Whether it's front-end with Angular or back-end with Node.js, I strive for excellence in every project I undertake.</p>

  <p>Currently exploring the fascinating world of Plant Growth Promoting Bacteria, I am dedicated to continuous learning and staying up-to-date with the latest technologies.</p>

  <p>Let's connect! <a href="mailto:Sivamurugan0012@gmail.com">Email me</a></p>
</section> -->