<!-- app.component.html -->

<!-- <div class="headr-div" class="menu-active">
  <header class="header" wmAnimate="landing" aos speed="normal">
    <input class="menu-btn" type="checkbox" id="menu-btn" (click)="toggleMenu()" />
    <label class="menu-icon" for="menu-btn">
      <span class="navicon"></span>
    </label>
    <ul class="menu">
      <li><a routerLink="" routerLinkActive="active" (click)="toggleMenu()">About</a></li>
      <li><a routerLink="#skills" routerLinkActive="active" (click)="toggleMenu()">Skills</a></li>
      <li><a routerLink="#education" routerLinkActive="active" (click)="toggleMenu()">Education</a></li>
      <li><a routerLink="#projects" routerLinkActive="active" (click)="toggleMenu()">Projects</a></li>
      <li><a routerLink="#experience" routerLinkActive="active" (click)="toggleMenu()">Experiences</a></li>
      <li><a routerLink="#contact" routerLinkActive="active" (click)="toggleMenu()">Contact Me</a></li>
    </ul>
  </header>
</div> -->


<div class="device-notification">
  <a class="device-notification--logo" href="#0">
    <img src="assets/img/logo.png" alt="Global" />
    <p>Siva M</p>
  </a>
  <p class="device-notification--message">
    Global has so much to offer that we must request you orient your device to
    portrait or find a larger screen. You won't be disappointed.
  </p>
</div>

<div class="perspective effect-rotate-left">
  <div class="container">
    
    <div class="outer-nav--return"></div>
    <div id="viewport" class="l-viewport">
      <div class="l-wrapper">
        <header class="header">
          <a class="header--logo" href="#0">
            <img src="assets/img/logo.png" alt="Global" />
            <p>Siva M</p>
          </a>
          <button class="header--cta cta">Hire</button>
          <div class="header--nav-toggle">
            <span></span>
          </div>
        </header>
        
        <nav class="l-side-nav">
          <ul class="side-nav">
            <li class="is-active"><span>Home</span></li>
            <!-- <li><span>Works</span></li> -->
            <li><span>About</span></li>
            <li><span>Contact</span></li>
            <li><span>Hire us</span></li>
          </ul>
        </nav>
        <ul class="l-main-content main-content">
          <li class="l-section section section--is-active">
            <div class="intro">
              <div class="intro--banner">
                <h1>Transforming Ideas <br />into <br />Digital Reality</h1>
                <button class="cta">
                  Hire
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 118"
                    style="enable-background: new 0 0 150 118" xml:space="preserve">
                    <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                      <path
                        d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z" />
                    </g>
                  </svg>
                  <span class="btn-background"></span>
                </button>
                <img src="assets/img/1723181129703-Photoroom-Photoroom.png" alt="Welcome" />
              </div>
              <!-- <div class="card">
                <div class="hover-p"><span>HOVER ME <div class="strings">
                   <div class="header">
                  <div class="top">
                    <div class="circle">
                      <span class="red circle2"></span>
                    </div>
                    <div class="circle">
                      <span class="yellow circle2"></span>
                    </div>
                    <div class="circle">
                      <span class="green circle2"></span>
                    </div>
                    <div class="title">
                      <p id="title2">style.css</p>
                    </div>
                  </div>
                </div>
                <div class="code-container">
                  <textarea class="area" id="code" name="code" readonly="">
              .card {
                width: 300px;
                height: 400px;
                margin: 0 auto;
                background-color: #24233b;
                border-radius: 8px;
                z-index: 1;
                box-shadow: 0px 10px 10px rgb(73, 70, 92);
                transition: 0.5s;
              }

              .card:hover {
                transform: translateY(-7px);
                box-shadow: 0px 10px 10px black;
              }

              .top {
                display: flex;
                align-items: center;
                padding-left: 10px;
              }</textarea
                  >
                </div>
              </div>
              </span></div>
                <div class="hover-p"><span>HOVER ME</span></div>
                <div class="hover-p"><span>HOVER ME</span></div>
              </div> -->

              <div class="intro--options">
                <a href="#0">
                  <h3>Siva M</h3>
                  <p>Skilled FUll Developer with 1.5 Years of Experience</p>
                </a>
                <a href="#0">
                  <h3>Description</h3>
                  <p>
                    Specializing in creating dynamic and responsive web
                    applications, <br />I have hands-on experience in Front-End
                    With a comprehensive understanding of server-side
                    technologies
                  </p>
                  <p></p>
                </a>
                <!-- <a href="#0">
                  <h3>Paul &amp; shark</h3>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit sed
                    do.
                  </p>
                </a> -->
              </div>
            </div>
          </li>
          <!-- <li class="l-section section">
            <div class="work">
              <h2>Selected work</h2>
              <div class="work--lockup">
                <ul class="slider">
                  <li class="slider--item slider--item-left">
                    <a href="#0">
                      <div class="slider--item-image">
                        <img src="assets/img/work-victory.jpg" alt="Victory" />
                      </div>
                      <p class="slider--item-title">Victory</p>
                      <p class="slider--item-description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit
                        sed do.
                      </p>
                    </a>
                  </li>
                  <li class="slider--item slider--item-center">
                    <a href="#0">
                      <div class="slider--item-image">
                        <img src="assets/img/work-metiew-smith.jpg" alt="Metiew and Smith" />
                      </div>
                      <p class="slider--item-title">Metiew &amp; Smith</p>
                      <p class="slider--item-description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit
                        sed do.
                      </p>
                    </a>
                  </li>
                  <li class="slider--item slider--item-right">
                    <a href="#0">
                      <div class="slider--item-image">
                        <img src="assets/img/work-alex-nowak.jpg" alt="Alex Nowak" />
                      </div>
                      <p class="slider--item-title">Alex Nowak</p>
                      <p class="slider--item-description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit
                        sed do.
                      </p>
                    </a>
                  </li>
                </ul>
                <div class="slider--prev" (click)="workSlider()">
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 118"
                    style="enable-background: new 0 0 150 118" xml:space="preserve">
                    <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                      <path d="M561,1169C525,1155,10,640,3,612c-3-13,1-36,8-52c8-15,134-145,281-289C527,41,562,10,590,10c22,0,41,9,61,29
                      c55,55,49,64-163,278L296,510h575c564,0,576,0,597,20c46,43,37,109-18,137c-19,10-159,13-590,13l-565,1l182,180
                      c101,99,187,188,193,199c16,30,12,57-12,84C631,1174,595,1183,561,1169z" />
                    </g>
                  </svg>
                </div>
                <div class="slider--next" (click)="workSlider()">
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 118"
                    style="enable-background: new 0 0 150 118" xml:space="preserve">
                    <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                      <path
                        d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z" />
                    </g>
                  </svg>
                </div>
              </div>
            </div>
            
          </li> -->
          <li class="l-section section">
            <div class="about">
              
              <div class="about--banner">
                <h2>A Bit <br />About Me<!-- <br />passionate<br />people --></h2>
                <a href="#0">Career
                  <span>
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 118"
                      style="enable-background: new 0 0 150 118" xml:space="preserve">
                      <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                        <path
                          d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z" />
                      </g>
                    </svg>
                  </span>
                </a>
                <!-- <img src="assets/img/person-holding-heart-that-says-x-palm-their-hands_1109006-74873.avif" alt="About Us" /> -->
              </div>
              <div class="about--options">
                <section id="skills">
                  <!-- <h2>Frontend Expertise</h2>
                  <ul>
                    <li>
                      <strong>HTML & CSS:</strong> Creating structured, semantic, and responsive designs.
                    </li>
                    <li>
                      <strong>SCSS:</strong> Writing modular and maintainable stylesheets.
                    </li>
                    <li>
                      <strong>Angular:</strong> Developing robust single-page applications.
                    </li>
                    <li>
                      <strong>Bootstrap:</strong> Rapid and consistent UI development.
                    </li>
                    <li>
                      <strong>TypeScript:</strong> Crafting type-safe JavaScript.
                    </li>
                  </ul>
                </section>
                  <section id="skills">
                  <h2>Backend Proficiency</h2>
                  <ul>
                    <li>
                      <strong>Node.js:</strong> Building scalable backend services.
                    </li>
                    <li>
                      <strong>Python:</strong> Developing versatile applications.
                    </li>
                    <li>
                      <strong>MongoDB & ODM:</strong> Managing NoSQL databases.
                    </li>
                    <li>
                      <strong>MySQL & ORM:</strong> Designing relational databases with smooth data interaction.
                    </li>
                  </ul> -->
                  
                  <p>Hi, I'm Siva, a Full Stack Developer with a B.Sc. in Information Technology. <br>
                    I began my career in
                    February 2023 at Appgs, starting with a talent management project. My role involved working with
                    Angular and Node.js alongside SQL, using ORM for seamless database interactions.</p>

                  <p>Afterward, I contributed to a project in the leather industry, focusing on Angular and Node.js with
                    Mongoose ORM. During this time, I enhanced the error-handling system in the Node.js backend by
                    implementing a common error handler, which streamlined the process and improved system reliability.
                  </p>

                  <p>I then worked on a project in the textile industry, where I handled a complex version upgrade. My
                    key contribution was developing sophisticated UI calculations that enabled users to determine costs
                    dynamically based on various inputs.</p>

                  <p>Currently, I am involved in a product development project. My responsibilities include implementing
                    service methods in Angular and maintaining the backend with Node.js. This experience has allowed me
                    to deepen my expertise in both frontend and backend technologies, demonstrating my capability to
                    work across the full stack.</p>

                  <p>My journey so far has equipped me with a diverse set of skills and experiences, making me a
                    versatile and adaptive developer ready to tackle new challenges.</p>

                </section>

              </div>
            </div>
          </li>
          <li class="l-section section">
            <div class="contact">
              <div class="container2">
	<div class="scene">
		<div class="webpack-cube">
			<div class="outer-cube">
				<div class="face face-top"></div>
				<div class="face face-bottom"></div>
				<div class="face face-left"></div>
				<div class="face face-right"></div>
				<div class="face face-front"></div>
				<div class="face face-back"></div>
			</div>
			<div class="inner-cube">
				<div class="face face-top"></div>
				<div class="face face-bottom"></div>
				<div class="face face-left"></div>
				<div class="face face-right"></div>
				<div class="face face-front"></div>
				<div class="face face-back"></div>
			</div>
		</div>
		<div class="shadows-outer-container">
			<div class="shadow-outer"></div>
			</div>
		<div class="shadows-inner-container">
			<div class="shadow-inner"></div>
		</div>
	</div>
</div>
              <!-- <div class="container2">
                <div class="cube">
                  <div style="--x:-1; --y:0;">
                    <span style="--i:3;"></span>
                    <span style="--i:2;"></span>
                    <span style="--i:1;"></span>
                  </div>
                  <div style="--x:0; --y:0;">
                    <span style="--i:3;"></span>
                    <span style="--i:2;"></span>
                    <span style="--i:1;"></span>
                  </div>
                  <div style="--x:1; --y:0;">
                    <span style="--i:3;"></span>
                    <span style="--i:2;"></span>
                    <span style="--i:1;"></span>
                  </div>
                </div>
                <div class="cube">
                  <div style="--x:-1; --y:0;">
                    <span style="--i:3;"></span>
                    <span style="--i:2;"></span>
                    <span style="--i:1;"></span>
                  </div>
                  <div style="--x:0; --y:0;">
                    <span style="--i:3;"></span>
                    <span style="--i:2;"></span>
                    <span style="--i:1;"></span>
                  </div>
                  <div style="--x:1; --y:0;">
                    <span style="--i:3;"></span>
                    <span style="--i:2;"></span>
                    <span style="--i:1;"></span>
                  </div>
                </div>
                <div class="cube">
                  <div style="--x:-1; --y:0;">
                    <span style="--i:3;"></span>
                    <span style="--i:2;"></span>
                    <span style="--i:1;"></span>
                  </div>
                  <div style="--x:0; --y:0;">
                    <span style="--i:3;"></span>
                    <span style="--i:2;"></span>
                    <span style="--i:1;"></span>
                  </div>
                  <div style="--x:1; --y:0;">
                    <span style="--i:3;"></span>
                    <span style="--i:2;"></span>
                    <span style="--i:1;"></span>
                  </div>
                </div>
              </div> -->
              <div class="contact--lockup">
                <div class="modal">
                  
                  <div class="modal--information">
                    <!-- <p>Pawia 5, 31-154 Kraków, Poland</p> -->
                    <a href="mailto:sivamurugan0012@gmail.com">{{
                      "sivamurugan0012@gmail.com"
                      }}</a>
                    <a href="tel:+917373314740">+91  7373314740</a>
                  </div>
                  <ul class="modal--options">
                    <li><a href="#0">India</a></li>
                    <li><a href="#0">Tamilnadu, Madurai <br> 625501</a></li>
                    <li><a href="mailto:sivamurugan0012@gmail.com">Contact Us</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li class="l-section section">
            <div class="hire">
              <h2>You want us to do</h2>
              <!-- checkout formspree.io for easy form setup -->
              <form class="work-request">
                <div class="work-request--options">
                  <span class="options-a">
                    <input id="opt-1" type="checkbox" value="app design" />
                    <label for="opt-1">
                      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 111"
                        style="enable-background: new 0 0 150 111" xml:space="preserve">
                        <g transform="translate(0.000000,111.000000) scale(0.100000,-0.100000)">
                          <path
                            d="M950,705L555,310L360,505C253,612,160,700,155,700c-6,0-44-34-85-75l-75-75l278-278L550-5l475,475c261,261,475,480,475,485c0,13-132,145-145,145C1349,1100,1167,922,950,705z" />
                        </g>
                      </svg>
                     Web App Design
                    </label>
                    <input id="opt-2" type="checkbox" value="graphic design" />
                    <label for="opt-2">
                      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 111"
                        style="enable-background: new 0 0 150 111" xml:space="preserve">
                        <g transform="translate(0.000000,111.000000) scale(0.100000,-0.100000)">
                          <path
                            d="M950,705L555,310L360,505C253,612,160,700,155,700c-6,0-44-34-85-75l-75-75l278-278L550-5l475,475c261,261,475,480,475,485c0,13-132,145-145,145C1349,1100,1167,922,950,705z" />
                        </g>
                      </svg>
                      Mobile App Design
                    </label>
                    <input id="opt-3" type="checkbox" value="motion design" />
                    <label for="opt-3">
                      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 111"
                        style="enable-background: new 0 0 150 111" xml:space="preserve">
                        <g transform="translate(0.000000,111.000000) scale(0.100000,-0.100000)">
                          <path
                            d="M950,705L555,310L360,505C253,612,160,700,155,700c-6,0-44-34-85-75l-75-75l278-278L550-5l475,475c261,261,475,480,475,485c0,13-132,145-145,145C1349,1100,1167,922,950,705z" />
                        </g>
                      </svg>
                     Logo Design
                    </label>
                  </span>
                  <span class="options-b">
                    <input id="opt-4" type="checkbox" value="ux design" />
                    <label for="opt-4">
                      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 111"
                        style="enable-background: new 0 0 150 111" xml:space="preserve">
                        <g transform="translate(0.000000,111.000000) scale(0.100000,-0.100000)">
                          <path
                            d="M950,705L555,310L360,505C253,612,160,700,155,700c-6,0-44-34-85-75l-75-75l278-278L550-5l475,475c261,261,475,480,475,485c0,13-132,145-145,145C1349,1100,1167,922,950,705z" />
                        </g>
                      </svg>
                      UX Design
                    </label>
                    <input id="opt-5" type="checkbox" value="webdesign" />
                    <label for="opt-5">
                      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 111"
                        style="enable-background: new 0 0 150 111" xml:space="preserve">
                        <g transform="translate(0.000000,111.000000) scale(0.100000,-0.100000)">
                          <path
                            d="M950,705L555,310L360,505C253,612,160,700,155,700c-6,0-44-34-85-75l-75-75l278-278L550-5l475,475c261,261,475,480,475,485c0,13-132,145-145,145C1349,1100,1167,922,950,705z" />
                        </g>
                      </svg>
                      Webdesign
                    </label>
                    <input id="opt-6" type="checkbox" value="marketing" />
                    <label for="opt-6">
                      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 111"
                        style="enable-background: new 0 0 150 111" xml:space="preserve">
                        <g transform="translate(0.000000,111.000000) scale(0.100000,-0.100000)">
                          <path
                            d="M950,705L555,310L360,505C253,612,160,700,155,700c-6,0-44-34-85-75l-75-75l278-278L550-5l475,475c261,261,475,480,475,485c0,13-132,145-145,145C1349,1100,1167,922,950,705z" />
                        </g>
                      </svg>
                     SEO
                    </label>
                  </span>
                </div>
                <div class="work-request--information">
                  <div class="information-name">
                    <input id="name" type="text" spellcheck="false" />
                    <label for="name">Name</label>
                  </div>
                  <div class="information-email">
                    <input id="email" type="email" spellcheck="false" />
                    <label for="email">Email</label>
                  </div>
                </div>
                <input type="submit" value="Send Request" />
              </form>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <ul class="outer-nav">
    <li class="is-active">Home</li>
    <li>Works</li>
    <li>About</li>
    <li>Contact</li>
    <li>Hire us</li>
  </ul>
</div>
